# Function to demonstrate printing pattern triangle
def triangle(n):

    # number of spaces
	k = n - 1
	# outer loop to handle number of rows
	for i in range(0, n):
	
		# inner loop to handle number spaces
		# values changing acc. to requirement
		for j in range(0, k):
			print(end=" ")	
		# decrementing k after each loop
		k = k - 1	
		# inner loop to handle number of columns
		# values changing acc. to outer loop
		for j in range(0, i+1):
		
			# printing stars
			print("* ", end="")	
		# ending line after each row
		print("\r")
# Driver Code
n = 5
triangle(n)

In [6]:
x=2
print("%05d"%x)

00002

In [17]:
x=2
print("-%05d"%x)

-00002

In [18]:
x=2
print("%-05d"%x)

2

In [25]:
x='sanfoundry'
print('%56s',x)

%56s sanfoundry

In [26]:
x=456
print("%-06d"%x)

456

In [27]:
x=456
print("%06d"%x)

000456

In [28]:
x=56
print("%.2f"%x)

56.00

In [29]:
x=56
print("%.3f"%x)

56.000

In [30]:
# declaring a string variable
var1 = "Geek!"
var2 = "Geeks for Geeks"
  
# append multiple strings within a string
print("Hello %s Are you enjoying being at %s for preparations." % (var1, var2))

Hello Geek! Are you enjoying being at Geeks for Geeks for preparations.

In [8]:
# Python program showing how to use
# string modulo operator(%) to print

# print integer and float value
print("Geeks : %2d, Portal : %5.2f" % (1, 05.333))
 
# print integer value
print("Total students : %3d, Boys : %2d" % (240, 120))
 
# print octal value
print("%7.4o" % (25))
 
# print exponential value
print("%10.3E" % (356.08977))

Geeks :  1, Portal :  5.33
Total students : 240, Boys : 120
   0031
 3.561E+02

In [1]:
x=8
y=10

In [17]:
x1=bin(x)

In [18]:
y1=bin(y)

In [19]:
x1

'0b1000'

In [20]:
y1

'0b1010'

In [11]:
1010

1010

In [21]:
x & y

8

In [22]:
bin(8)

'0b1000'

In [23]:
int(0b1000)

8

In [28]:
bin(8)

'0b1000'

In [29]:
~x

-9

In [30]:
bin(-9)

'-0b1001'

In [31]:
x1=20

In [32]:
bin(x1)

'0b10100'

In [13]:
z=9

In [14]:
~z

-10

In [18]:
z<<2

36

In [19]:
z<<2

36

In [20]:
bin(z)

'0b1001'

In [25]:
int(0b000100)

4

In [23]:
z>>2

2

In [39]:
z1=60

In [38]:
int( 0b111100)

60

In [33]:
int(0b000011)

3

In [40]:
~z1

-61

In [1]:
# Function to demonstrate printing pattern triangle
def triangle(n):

    # number of spaces
	k = n - 1
	# outer loop to handle number of rows
	for i in range(0, n):
	
		# inner loop to handle number spaces
		# values changing acc. to requirement
		for j in range(0, k):
			print(end=" ")	
		# decrementing k after each loop
		k = k - 1	
		# inner loop to handle number of columns
		# values changing acc. to outer loop
		for j in range(0, i+1):
		
			# printing stars
			print("* ", end="")	
		# ending line after each row
		print("\r")
# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

In [2]:
# Function to demonstrate printing pattern triangle
def triangle(n):

    # number of spaces
	k = n - 1
	# outer loop to handle number of rows
	for i in range(0, n):
	
		# inner loop to handle number spaces
		# values changing acc. to requirement
		for j in range(0, k):
			print(end=" ")	
		# decrementing k after each loop
		k = k - 1	
		# inner loop to handle number of columns
		# values changing acc. to outer loop
		for j in range(0, i+1):
		
			# printing stars
			print("* ", end="")	
		# ending line after each row
		print("\r")
# Driver Code
n = 6
triangle(6)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [3]:
# printing stars
print("* ", end="")	
print("\r")

*

In [9]:
n=8
k=n-1
for i in range(0,n):
    for j in range(0,k):
        print("*", end="")
    print("\r")
    k=k-1

*******
******
*****
****
***
**
*

In [18]:
x=3.3456789
'%f | %e | %g' %(x, x, x)

'3.345679 | 3.345679e+00 | 3.34568'

In [21]:
x=3.3456789
'%g' %(x)

'3.34568'

In [26]:
name ='giacomo'
number = 4.35555555555555
print('%s %s %d %f %g' % (name, number, number, number, number))

giacomo 4.35555555555555 4 4.355556 4.35556

In [18]:
x=-122
print('-%06d'%x)

--00122

In [17]:
x='san-foundry'
print('%20s'%x)

         san-foundry

In [19]:
x=1234
res='integers:....%d...%-6d...%06d'%(x,x,x)
res

'integers:....1234...1234  ...001234'

In [4]:
x=456
print("%05d"%x)

00456

In [2]:
i=0 #initialization
while(i<=10):
    print(i)
    i=i+1
print('Reverse For loop')
i=10
while(i>=0):
    print(i)
    i=i-1
print('even nos between 1 to 100')
i=0 #initialization
while(i<=100):
    print(i)
    i=i+2
print('odd nos between 1 to 100')
i=1 #initialization
while(i<=100):
    print(i)
    i=i+2

0
1
2
3
4
5
6
7
8
9
10
Reverse For loop
10
9
8
7
6
5
4
3
2
1
0
even nos between 1 to 100
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
odd nos between 1 to 100
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [3]:
n=int(input('enter n'))
i=1
while(i<=10):
    print('{0} X {1} = {2}'.format(n,i,n*i))
    i=i+1

enter n6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [4]:
for i in range(1,11,1):
    print(i)
print('negative for loop')
for i in range(10,0,-1):
    print(i)

1
2
3
4
5
6
7
8
9
10
negative for loop
10
9
8
7
6
5
4
3
2
1

In [5]:
for i in range(1,11,1):
    print(i)
print('negative for loop')
for i in range(10,0,-1):
    print(i)

1
2
3
4
5
6
7
8
9
10
negative for loop
10
9
8
7
6
5
4
3
2
1

In [6]:
a=int(input('Enter the value of a : ')) #typecasting
b=int(input('Enter the value of b : ')) #typecasting
c=a+b
print('Addition of ', a ,'and', b ,'is ',c)
print('Substraction of {0} and {1} is {2}'.format(a,b,a-b))
print('Multiplication of {0} and {1} is {2}'.format(a,b,a*b))
print('Division of {0} and {1} is {2}'.format(a,b,a/b))
print('Addition of {0} and {1} is {2}'.format(a,b,a+b))
print('Square of {0} is {1}'.format(a,a**2))

Enter the value of a : 5
Enter the value of b : 6
Addition of  5 and 6 is  11
Substraction of 5 and 6 is -1
Multiplication of 5 and 6 is 30
Division of 5 and 6 is 0.8333333333333334
Addition of 5 and 6 is 11
Square of 5 is 25

In [7]:
a=int(input('Enter the value of a : ')) #typecasting
b=int(input('Enter the value of b : ')) #typecasting
c=a+b
print('Addition of ', a ,'and', b ,'is ',c)
print('Substraction of {0} and {1} is {2}'.format(a,b,a-b))
print('Multiplication of {0} and {1} is {2}'.format(a,b,a*b))
print('Division of {0} and {1} is {2}'.format(a,b,a/b))
print('Addition of {0} and {1} is {2}'.format(a,b,a+b))
print('Square of {0} is {1}'.format(a,a**2))

Enter the value of a : 7
Enter the value of b : 8
Addition of  7 and 8 is  15
Substraction of 7 and 8 is -1
Multiplication of 7 and 8 is 56
Division of 7 and 8 is 0.875
Addition of 7 and 8 is 15
Square of 7 is 49

In [8]:
for i in range(1,11,1):
    print(i)
print('negative for loop')
for i in range(10,0,-1):
    print(i)

1
2
3
4
5
6
7
8
9
10
negative for loop
10
9
8
7
6
5
4
3
2
1

In [9]:
a=int(input('Enter the value of a : ')) #typecasting
b=int(input('Enter the value of b : ')) #typecasting
c=a+b
print('Addition of ', a ,'and', b ,'is ',c)
print('Substraction of {0} and {1} is {2}'.format(a,b,a-b))
print('Multiplication of {0} and {1} is {2}'.format(a,b,a*b))
print('Division of {0} and {1} is {2}'.format(a,b,a/b))
print('Addition of {0} and {1} is {2}'.format(a,b,a+b))
print('Square of {0} is {1}'.format(a,a**2))

Enter the value of a : 7
Enter the value of b : 9
Addition of  7 and 9 is  16
Substraction of 7 and 9 is -2
Multiplication of 7 and 9 is 63
Division of 7 and 9 is 0.7777777777777778
Addition of 7 and 9 is 16
Square of 7 is 49

In [13]:
a=int(input('Enter the value of a : ')) 
b=int(input('Enter the value of b : '))
if(a>b):
    print('a is maximum')
else:
    print('b is maximum')

Enter the value of a : 7
Enter the value of b : 9
b is maximum

In [14]:
a=int(input('Enter the value of a : ')) 
b=int(input('Enter the value of b : '))
c=int(input('Enter the value of c : '))
if(a>b) & (a>c):
    print('a is maximum')
elif(b>c):
    print('b is maximum')
else :
    print('c is maximum')

marks=int(input('Enter the marks :')
if(marks<40):
     print('Fail')
elif(marks<60):
    print('second class')
elif(marks<75):
    print('first Class')
else:
    print('Distinction')

SyntaxError: invalid syntax (<ipython-input-14-d7bf66e99d7d>, line 12)