# Opertion on list

In [7]:
l1=[4,5,6,7,9,15]
print('originallist is',l1)
print('Max is',max(l1))
print('Min is',min(l1))
print('sum is',sum(l1))

originallist is [4, 5, 6, 7, 9, 15]
Max is 15
Min is 4
sum is 46

In [9]:
l1.insert(3,99)
print('inserting 99',l1)
l1.append(98)
print('appending 98',l1)
l1.remove(98)
print('removing 98',l1)
l1.pop(3)
print('remove 3rd element',l1)

inserting 99 [4, 5, 6, 99, 7, 9, 15]
appending 98 [4, 5, 6, 99, 7, 9, 15, 98]
removing 98 [4, 5, 6, 99, 7, 9, 15]
remove 3rd element [4, 5, 6, 7, 9, 15]

In [5]:
l2=[11,22,33,44,44]
print('merged list',l1+l2)
l1.extend(l2)
print('extending l1', l1)
l1.sort()
print('sorting l1', l1)
l1.reverse()
print('reversing l1', l1)
print('counting44 in l1', l1.count(44))
print('length l1', len(l1))
print('deleted l2', l2)
del l2

merged list [44, 44, 33, 22, 15, 11, 9, 7, 6, 5, 4, 11, 22, 33, 44, 44]
extending l1 [44, 44, 33, 22, 15, 11, 9, 7, 6, 5, 4, 11, 22, 33, 44, 44]
sorting l1 [4, 5, 6, 7, 9, 11, 11, 15, 22, 22, 33, 33, 44, 44, 44, 44]
reversing l1 [44, 44, 44, 44, 33, 33, 22, 22, 15, 11, 11, 9, 7, 6, 5, 4]
counting44 in l1 4
length l1 16
deleted l2 [11, 22, 33, 44, 44]

In [1]:
l=[-5,6,1,-2,8,4,3,-7,10]
print('original list is',l)
print('5th elementin the list is',l[4])
print('5th elementin the list is',l[-5])
print('Allthe elements from 3rd Position are',l[2:])
print('Allthe elements from 3rd Position are',l[-7:])
print('3 elements from 5th  position are',l[4:7])
print('3 elements from 5th  position are',l[-5:-2])

original list is [-5, 6, 1, -2, 8, 4, 3, -7, 10]
5th elementin the list is 8
5th elementin the list is 8
Allthe elements from 3rd Position are [1, -2, 8, 4, 3, -7, 10]
Allthe elements from 3rd Position are [1, -2, 8, 4, 3, -7, 10]
3 elements from 5th  position are [8, 4, 3]
3 elements from 5th  position are [8, 4, 3]

# Opertion on tuple

In [3]:
t=(1,-45,89,4,50,42,60,-2)
print('original tuple is',t)
print('3 elements from 5th  position are',t[4:7])
print('3 elements from 5th  position are',t[-4:-1])
print('max ',max(t))
print('min', min(t))
print('sum ',sum(t))
print('length',len(t))
print('sort ',sorted(t))

original tuple is (1, -45, 89, 4, 50, 42, 60, -2)
3 elements from 5th  position are (50, 42, 60)
3 elements from 5th  position are (50, 42, 60)
max  89
min -45
sum  199
length 8
sort  [-45, -2, 1, 4, 42, 50, 60, 89]

# Opertion on string

In [7]:
s='welcome to India'
print('3 elements from 5th  position are',s[8:10])
print('3 elements from 5th  position are',s[-8:-6])
print('3 elements from 5th  position are',s[3:7])
print('3 elements from 5th  position are',s[-13:-9])

3 elements from 5th  position are to
3 elements from 5th  position are to
3 elements from 5th  position are come
3 elements from 5th  position are come

In [3]:
names1 = ['Amir', 'Bala', 'Charlie'] 
names2 = [name.lower() for name in names1]
print (names2)
print(names2[2][0])

['amir', 'bala', 'charlie']
c

In [6]:
l8=['Hello']
l8

['Hello']

# operation on sets

In [8]:
s1={1,2,3,4,5,6}
print('originalset is',s1)
s1.add(9)
print('add',s1)
s1.update([10,11,13.2])
print('update',s1)

originalset is {1, 2, 3, 4, 5, 6}
add {1, 2, 3, 4, 5, 6, 9}
update {1, 2, 3, 4, 5, 6, 9, 10, 11, 13.2}

In [9]:
s1.remove(11)
print('remove',s1)
s1.pop()
print('pop',s1)

remove {1, 2, 3, 4, 5, 6, 9, 10, 13.2}
pop {2, 3, 4, 5, 6, 9, 10, 13.2}

In [10]:
s1.discard(13.2)
print('discard',s1)
print('min',min(s1))
print('max',max(s1))
print('sum',sum(s1))
print('length',len(s1))
print('set s1',s1)

discard {2, 3, 4, 5, 6, 9, 10}
min 2
max 10
sum 39
length 7
set s1 {2, 3, 4, 5, 6, 9, 10}

In [11]:
s2={3,4,5,99}
print('set s2',s2)
s3={11,12,13}
print('set s3',s3)

set s2 {99, 3, 4, 5}
set s3 {11, 12, 13}

In [12]:
print('union of s1and s3',s1.union(s3))
print('intersection of s1and s2',s1.intersection(s2))
print('symetric difference of s1and s2',s1^s2)
print('difference of s1and s2',s2-s1)
print('s1 issubset s3',s1.issubset(s3))
print('s1 issuperset s3',s1.issuperset(s3))

union of s1and s3 {2, 3, 4, 5, 6, 9, 10, 11, 12, 13}
intersection of s1and s2 {3, 4, 5}
symetric difference of s1and s2 {2, 99, 6, 9, 10}
difference of s1and s2 {99}
s1 issubset s3 False
s1 issuperset s3 False

In [1]:
s4={1,2,3,4,5,6,10,13.2}
s5={3,4,5,99}
s6={11,12,13}

In [2]:
s4.union(s6)

{1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 13.2}

In [3]:
s4.intersection(s5)

{3, 4, 5}

In [4]:
s5.intersection(s4)

{3, 4, 5}

In [5]:
s4.intersection(s6)

set()

In [6]:
s4^s5

{1, 2, 6, 10, 13.2, 99}

In [7]:
s5^s4

{1, 2, 6, 10, 13.2, 99}

# operation on Dictionery

In [2]:
d={'name':'xyz','age':45,'city':'mumbai'}
print('origial dictionery is', d)
print('keys', d.keys())
print('values',d.values())
print('items',d.items())
d['gender']='male'
print('dictionery after adding',d)
d.clear()
print('dictionery after clearing elements',d)

origial dictionery is {'name': 'xyz', 'age': 45, 'city': 'mumbai'}
keys dict_keys(['name', 'age', 'city'])
values dict_values(['xyz', 45, 'mumbai'])
items dict_items([('name', 'xyz'), ('age', 45), ('city', 'mumbai')])
dictionery after adding {'name': 'xyz', 'age': 45, 'city': 'mumbai', 'gender': 'male'}
dictionery after clearing elements {}

In [1]:
dict={'k1':"cat",'k2':"dog",'k3':"mouse",'k4':"fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [2]:
dict['k1']

'cat'

In [3]:
dict['k3']

'mouse'

In [4]:
dict['k4']

'fish'

In [5]:
dict['k5']='parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [1]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [2]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

In [12]:
l5=[3, 4, 5, 20, 5, 25, 1, 3]
l5.pop(3)
l5

[3, 4, 5, 5, 25, 1, 3]

In [16]:
 d = {"john":40, "peter":45}
d

{'john': 40, 'peter': 45}